:root {
  --black: #000000;
  --dark-blue: #14213d;
  --orange: #fca311;
  --gray: #e5e5e5;
  --white: #ffffff;
  --teal:#73EEDC;
  --navbar-height:3.5rem;
  --max-width:100rem;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.background-gray{
  background-color: var(--gray);
}

.background-teal{
  background-color: var(--teal);
}

.background-white{
  background-color: var(--white);
}

body{
  padding-top: var(--navbar-height);
  min-width: 30rem;
}

.burger {
  display: none;
  border: none;
  cursor: pointer;
  background-color: inherit;
  transition: all 0.25s;
}

.burger-line {
  width: 2rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--dark-blue);
  transform-origin: center;
  transition: all 0.25s;
}
.burger-line:nth-child(2){
  margin:0.5rem 0 ;
}

.transition-burger:nth-child(1){
  transform: translate(0, 0.75rem) rotate(45deg) ;
}
.transition-burger:nth-child(2){
  opacity:0;
}
.transition-burger:nth-child(3){
  transform: translate(0, -0.75rem) rotate(-45deg) ;
}

.center-text{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
  width: 100%;
}

.display-block{
  display:block;
}

.header{
  text-align: center;
}

.icon {
  color: var(--dark-blue);
  font-size: 2.25rem;
  padding: 0 0.5rem;
}

.inline {
  display: inline-block;
}

.justify-right {
  float: right;
}

.logo {
  height: 3rem;
  min-width: 3rem;
  margin: 0.25rem 0.75rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  color: var(--orange);
  background-color: var(--dark-blue);
  text-decoration:none;
  text-align: center;
  border: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  position: fixed;
  top:0;
  box-sizing: border-box;
  width:100%;
  height:var(--navbar-height);
  font-size: 2rem;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: var(--orange);
  border-bottom: 0.125rem solid var(--dark-blue);
}

.nav-icon {
  background-color: inherit;
  color: var(--dark-blue);
  margin: 0 0.75rem;
  border: none;
  cursor: pointer;
}

.nav-item {
  display: inline-block;
  color: var(--dark-blue);
  line-height: var(--navbar-height);
  text-decoration: none;
  padding: 0 0.75rem;
  transition: background-color 0.25s;
}

.nav-item:hover {
  background-color: var(--white);
}

.nav-items {
  padding: 0;
  margin: 0;
  flex-basis:30rem;
  list-style-type: none;
}

.overlay{
  position: fixed;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  top: var(--navbar-height);
  bottom:0;
  left: 0;
  right: 0;
  z-index: 2;
  color: black;
  width: 100%;
  transition: visibility 0s 0.25s, background-color 0.25s ;
}

.overlay.transition{
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0s 0s, background-color 0.25s;
}

.overlay-list{
  position: relative;
  overflow: hidden;
  background-color:var(--orange);
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  list-style: none;
  width:0;
  max-width: 0;
  height: 100%;
  transition: max-width 0.25s , width 0.25s;
}

.overlay-list.transition{
  overflow-y: auto;
  overflow-x:none;
  width:30rem;
  max-width: 80%;
}

.overlay-nav-item{
  width: 100%;
  box-sizing: border-box;
  padding:0.5rem 0 0.5rem 3.75rem;
  display: inline-block;
  color: var(--dark-blue);
  line-height: var(--navbar-height);
  text-decoration: none;
  background-color: var(--orange);
  transition: background-color 0.25s;
}

.overlay-nav-item:hover{
  background-color: var(--white);
}

.remove-bottom-margin{
  margin-bottom: 0;
}

.skillbar{
  display: inline-block;
  white-space: nowrap;
  padding:0;
}

.skillbar-full{
  display: inline-block;
  border: 0.1rem solid var(--dark-blue);
  border-right: 0;
  background-color: var(--dark-blue);
  width: 1rem;
  height: 0.5rem;
}

.skillbar-empty{
  display: inline-block;
  border: 0.1rem solid var(--dark-blue);
  border-right: 0;
  background-color: var(--gray);
  width: 1rem;
  height: 0.5rem;
}

.skillbar-first{
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.skillbar-last{
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-right: 0.1rem solid var(--dark-blue);
}

.skill-list{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit,20rem);
  justify-content:center;
  max-width: var(--max-width);
  font-size: 1.25rem;
}

.homepage-section{
  display: flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  padding:2rem 3rem;
}

.skill{
  display: inline-flex;
  box-sizing: border-box;
  border: 0.1rem solid var(--dark-blue);
  border-radius: 0.5rem;
  margin:0.25rem;
  padding: 0 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.skill-name{
  float:left;
}

.text-container{
  box-sizing:border-box;
  max-width:var(--max-width);
  color:var(--dark-blue);
  width: 100%;
  padding: 0 3rem;
}

.whole-rotate{
  transform:rotate(360deg);
}

.work-experience-entry{
  text-align: left;
  margin:0;
}

.work-experience-title{
  margin:0;
}

.work-experience-description{
  margin:0;
}

.work-experience-list{
  margin: 0;
}

.link{
  text-decoration: none;
}


@media only screen and (max-width: 1028px) {
  .burger {
    display: block;
  }

  .nav-items {
    display: none;
  }
}
